* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #edeef0;
}

.container {
    width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 30px;
}

.search {
    width: 250px;
    background-color: #edeef0;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    border-style: hidden;
}

.switch {
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

.header {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
}

/*.header > .container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.main {
    padding-bottom: 16px;
}

/*.main > .left {*/
/*    width: 70%;*/
/*    background-color: yellowgreen;*/
/*}*/
/*login box
registration box
learn-more box*/
/* > .right находится в .main*/
/*Кнопки нужно прописывать через a href*/
/*Для всех кнопок можно прописать один класс*/
.main > .right .box {
    background: #fff;
    padding: 25px;
    border: 1px solid #dcdcdc;
}


.info {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.left {
    width: 650px;
    margin: 0 auto;
}

.mobile {
    margin: 15px 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.inst {
    text-align: center;
}

.promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.left-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    text-decoration: none;
}

.left-image > .Info-for-And {

}

.right-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    text-decoration: none;
    margin-left: -31px;
}

.right-image > .Info-for-iOS {
    margin-top: 15px;
}

.link {
    margin-left: 280px;
    text-decoration: none;
    text-align: center;
}

.right {
    width: 350px;
    background-color: #edeef0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.log {
    /*height: 150px;*/
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 20px 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 0;
}

.phone {

    background-color: #fff;
    margin: 10px 25px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.password {

    background-color: #fff;
    margin: 10px 25px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.forgot {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0 25px;
}

.signing {
    width: 100px;
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 0;
}

.forgotten {
    padding: 15px;
    text-decoration: none;
}

.personal {
    width: 330px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
}

.first-part {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.first {
    font-size: 25px;
}

.fast {
    font-size: 15px;
    margin: 0 auto;
    color: grey;
}

.name {
    width: 280px;
    padding: 8px;
    margin: 0 auto;
}

.surname {
    width: 280px;
    padding: 8px;
    margin: 0 auto;
}

.birthdate-form {
    width: 280px;
    margin: 0 auto;
}

.birthdate {
    color: grey;
}

.birthdateIn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.day > .select {
    padding: 5px;
}

.month > .select {
    padding: 5px;
}

.year > .select {
    padding: 5px;
}

.cont {
    width: 280px;
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto;
}

.facebook {
    width: 280px;
    background-color: yellowgreen;
    padding: 10px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto;
}

.learn {
    width: 330px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 20px 10px;
}

.learn > .more {
    margin-left: 90px;
    text-decoration: none;
}

.endline {
    padding-top: 8px;
    padding-bottom: 8px;
}

.container2 {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.years {
    color: cornflowerblue;
}

.years > .vk {
    text-decoration: none;
    color: cornflowerblue;
}

.about {
    color: cornflowerblue;
}

.about > .about-vk {
    text-decoration: none;
    color: cornflowerblue;
}

.languages {
    margin-right: 10px;
    color: cornflowerblue;
}

.languages > .langs {
    color: cornflowerblue;
    text-decoration: none;
}

